# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf
*.bin

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# forth
*.bin
*.img
*.bak
output.txt
/.vs/forth-gcc/v16
/Debug
/Release
/f-comp.vcxproj.user
/history.txt
/f-comp/Debug
/f-comp/Release
/f-dis/Debug
/f-dis/Release
/f-vm/Debug
/f-vm/Release
/f-vm.vcxproj.user
/f-dis.vcxproj.user
